.Nav{
    font-family: sans-serif, cursive;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333;
    justify-content: flex-start;
    align-items: flex-start;
}

.searchForm label{
    position: absolute;
    left: -100000px;
}

.searchForm{
    width: 80%;
    padding: 1rem 0 0 0.75rem;
}

.searchForm input[type="text"] {
    width: 100%;
    min-height: 48px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    outline: none;
}

.Nav ul {
    color: #fff;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.Nav li{
    padding: 1rem;
}

.Nav li:hover, 
.Nav li:focus {
    padding: 1rem;
}

.Nav li a {
    text-decoration: none;
    color: #fff;
}

.Nav li:hover, 
.Nav li:focus, 
.Nav li:hover a, 
.Nav li:focus a  {
    background-color: #eee;  
    color: green;
}

.Nav li:hover a, 
.Nav li:focus a {
  cursor: pointer;
}
