.newPostForm {
    font-family: sans-serif, cursive;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    /* padding: 1rem; */
    overflow-y: auto;
}
  
.newPostForm label {
    margin-top: 1rem;
}
  
.newPostForm input[type='text'], 
.newPostForm textarea {
    width: 90%;
    min-height: 48px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    outline: none;
}
  
.newPostForm textarea {
    height: 100px;
}
  
.newPostForm button {
    background-color: darkgreen;
    color: whitesmoke;
    margin-top: 1rem;
    height: 40px;
    min-width: 48px;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}