.PostPage{
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}

.PostPage button {
    height: 48px;
    min-width: 48px;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: red;
    color: #fff;
    cursor: pointer;
}